{% extends 'table_snippet.html' %}

{% block tname %}Customers{% endblock tname %}
{% block addurl %}{% url 'customer:customer-create' %}{% endblock addurl %}
{% block addicon %}fas fa-user-plus{% endblock addicon %}

{% block thead %}
    {% block tfoot %}
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
    {% endblock tfoot %}
{% endblock thead %}
{% block tbody %}
          {% for item in items %}
          <tr class='clickable-row' href="#"
            onclick="document.location = '{% url 'customer:customer-detail' item.id %}';">
            <td>{{item.name}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.email}}</td>
            <td>
              <a href="{% url 'customer:customer-detail' item.id %}" class="btn btn-info btn-sm">
                <i class="fas fa-info-circle"></i>
              </a>
              <a href="{% url 'customer:customer-update' item.id %}" class="btn btn-primary btn-sm">
                <i class="fas fa-edit"></i>
              </a>
              <a href="{% url 'customer:customer-delete' item.id %}" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
{% endblock tbody %}