.vscode/
**/migrations
**/__pycache__

migrations/*
__pycache__/*


/db.sqlite3
account/__pycache__/__init__.cpython-38.pyc
account/__pycache__/admin.cpython-38.pyc
account/__pycache__/apps.cpython-38.pyc
account/__pycache__/models.cpython-38.pyc
account/__pycache__/urls.cpython-38.pyc
account/__pycache__/views.cpython-38.pyc
account/migrations/__pycache__/__init__.cpython-38.pyc
category/__pycache__/__init__.cpython-38.pyc
category/__pycache__/admin.cpython-38.pyc
category/__pycache__/apps.cpython-38.pyc
category/__pycache__/forms.cpython-38.pyc
category/__pycache__/models.cpython-38.pyc
category/__pycache__/urls.cpython-38.pyc
category/__pycache__/views.cpython-38.pyc
category/migrations/__pycache__/__init__.cpython-38.pyc
category/migrations/__pycache__/0001_initial.cpython-38.pyc
category/migrations/__pycache__/0002_historicalcategory.cpython-38.pyc
customer/__pycache__/__init__.cpython-38.pyc
customer/__pycache__/admin.cpython-38.pyc
customer/__pycache__/apps.cpython-38.pyc
customer/__pycache__/forms.cpython-38.pyc
customer/__pycache__/models.cpython-38.pyc
customer/__pycache__/urls.cpython-38.pyc
customer/__pycache__/views.cpython-38.pyc
customer/migrations/__pycache__/__init__.cpython-38.pyc
customer/migrations/__pycache__/0001_initial.cpython-38.pyc
customer/migrations/__pycache__/0002_auto_20200813_0559.cpython-38.pyc
inventory/__pycache__/__init__.cpython-38.pyc
inventory/__pycache__/admin.cpython-38.pyc
inventory/__pycache__/apps.cpython-38.pyc
inventory/__pycache__/forms.cpython-38.pyc
inventory/__pycache__/models.cpython-38.pyc
inventory/__pycache__/urls.cpython-38.pyc
inventory/__pycache__/views.cpython-38.pyc
inventory/migrations/__pycache__/__init__.cpython-38.pyc
inventory/migrations/__pycache__/0001_initial.cpython-38.pyc
inventory/migrations/__pycache__/0002_auto_20200814_0028.cpython-38.pyc
inventory/migrations/__pycache__/0003_auto_20200814_2311.cpython-38.pyc
manufacturer/__pycache__/__init__.cpython-38.pyc
manufacturer/__pycache__/admin.cpython-38.pyc
manufacturer/__pycache__/apps.cpython-38.pyc
manufacturer/__pycache__/models.cpython-38.pyc
manufacturer/migrations/__pycache__/__init__.cpython-38.pyc
manufacturer/migrations/__pycache__/0001_initial.cpython-38.pyc
ZeroEfforts_RMS/__pycache__/__init__.cpython-38.pyc
ZeroEfforts_RMS/__pycache__/settings.cpython-38.pyc
ZeroEfforts_RMS/__pycache__/urls.cpython-38.pyc
ZeroEfforts_RMS/__pycache__/wsgi.cpython-38.pyc
