{% extends 'base.html' %}
{% load widget_tweaks %}

{% block body %}

<div class="card shadow mb-4 ">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-primary">{{name}}</h3>
  </div>
  <div class="card-body">
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        <div class="col-4 col-form-label" style="padding: 0px; margin: 0px">
          {{ field.label_tag }}
        </div>
        <div class="col-8" style="padding: 0px; margin: 0px">
          {% render_field field class+="form-control" %}
        </div>
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <br>
      <button name="submit" type="submit" class="btn btn-primary">{{name}}</button>

    </form>
  </div>
</div>

{% endblock body %}